<!DOCTYPE html>
<html>
<head>
  <title>Taxis</title>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="/bower_components/geo-location/geo-location.html">
  <link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="/bower_components/google-map/google-map.html">
  <link rel="import" href="/bower_components/google-map/google-map-marker.html">
  <link rel="import" href="/bower_components/paper-header-panel/paper-header-panel.html">
  <link rel="import" href="/bower_components/paper-toolbar/paper-toolbar.html">
  <link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="/bower_components/paper-button/paper-button.html">
  <link rel="import" href="/bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
  <link rel="import" href="/bower_components/polymer/polymer.html">
  <link rel="import" href="/bower_components/geomap/geomap-element.html">
</head>
<body class="fullbleed vertical layout" unresolved>
  <paper-header-panel class="flex">
    <paper-toolbar>
      <div><h1>Taxis</h1></div>
      <span class="flex"></span>
      <paper-icon-button icon="search" on-click="handleClick"></paper-button-icon>
    </paper-toolbar>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
  </paper-header-panel>
  <div>
    <geomap-element></geomap-element>
  </div>
</body>
</html>